<!DOCTYPE html>
<html>
    <head>
    	<!-- Make site responsive on mobile/tablet -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<meta name="description" content="If you've entered a race come here and rate it.">
		<meta name="keywords" content="Triathlon, Running, Cycling, Swimming, Marathon, Parkrun, Ironman, Race, Rate">
		<meta name="author" content="Ruppy Rup">
        <title>Race Rater</title>
        <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
			  <a class="navbar-brand" href="/"><em id="race" >Race Rater</em></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link active" href="/">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/">About</a>
			      </li>
			      <% if(!currentUser) { %>
				      <li class="nav-item">
				        <a class="nav-link" href="mailto:admin@racerater.co.uk?Subject=Hello%20from%20user-unknown" target="_top">Contact</a>
				      </li>
				  <% } else { %>
					<li class="nav-item">
				        <a class="nav-link" href="mailto:admin@racerater.co.uk?Subject=Hello%20from%20<%= currentUser.username %>" target="_top">Contact</a>
				      </li>
				  <% } %>
			    </ul>
			    <ul class="navbar-nav">
			    	<% if(!currentUser) { %>
					    <li class="nav-item">
					        <a class="nav-link" href="/register">Sign Up <i class="fas fa-user-plus"></i></a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link" href="/Login">Login <i class="fas fa-user"></i></a>
					    </li>
					<% } else if (currentUser.isAdmin) { %>
						<li class="nav-item">
					        <a class="nav-link" href="/users/<%= currentUser._id %>"><%= currentUser.username %> <i class="sysop fas fa-user"></i></a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link" href="/Logout">Logout <i class="fas fa-user-minus"></i></a>
					    </li>
					<% } else { %>
						<li class="nav-item">
					        <a class="nav-link" href="/users/<%= currentUser._id %>"><%= currentUser.username %> <i class="fas fa-user"></i></a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link" href="/Logout">Logout <i class="fas fa-user-minus"></i></a>
					    </li>
					<% } %>
				</ul>
			  </div>
			</div>
		</nav>
		<div class="container">
			<% if(error && error.length > 0) { %>
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>
			<% } %>
			<% if(success && success.length > 0) { %>
				<div class="alert alert-success" role="alert">
					<%= success %>
				</div>
			<% } %>
		</div>
		