<% include ../partials/header %>

    <div id="newSiteForm" class="container">
        <h3 id="newSiteHeader"<%= user.username %></h3>
            <div class ="row">
                <div class="col-md-4">
                    <h1><%= user.firstName + ' ' + user.lastName %></h1>
                    <img src="<%= user.avatar %>" alt="user profile image">
                    <div class='caption'><a href='mailto:<%= user.email %>'><%= user.email %></a></div>
                </div>
            </div>
            <a class="btn btn-sm btn-warning" href="/users/<%= user._id %>/edit">Edit</a>
    </div>
 <a href="/">Go Back</a>

<% include ../partials/footer %>